

<ul class="clearfix fixed-top" id="my_nav">
    <div class="float-left">
        <li class="nav_items"><a class="active" href="/">Blogger</a></li>
        <li class="nav_items"><a href="/blog">Create blog</a></li>
        <li class="nav_items"><a href="#">Personal blogs</a></li>
        <li class="nav_items"><a href="/about">About</a></li>
    </div>

    <li class="float-right">
        <button class="btn btn-outline-light text-light mt-2 nav_btn" id="contact_us">Contact us</button>
    </li>
</ul>