<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs")%>
    <body>

        <div class="w-50 text-center mt-5 border border-secondary rounded-lg mx-auto p-3">
            <h1 class="display-1 my-2 text-dark"><i class="fas fa-lock"></i></h1>
            <h3 class="display-5 text-secondary">Forget Password?</h3>
            <p class=" text-secondary mb-4">you can reset your password here</p>

            <form>
                <div class="row">
                  <div class="col-8 offset-2 my-1">
                    <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                    <div id="emailNotification"></div>
                  </div>
                  <div class="col-8 offset-2 my-1">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username"></input>
                    <div id="usernameNotification"></div>
                  </div>
                  <div class="col-8 offset-2 my-1" id="Verificationdiv">
                    <input type="text" class="form-control" id="verificationCode" placeholder="Enter 6 digit Code" name="verificationcode">
                    <div id="verficationcodeNotification"></div>
                  </div>

                  <div class="col-8 offset-2 my-3">
                      <button type="button" class="btn btn-outline-secondary col-4" id="goBack">Go Back</button>
                      <button type="button" class="btn btn-outline-primary col-6 offset-1" id="getCodeBtn">Get Code</button>
                  </div>
                </div>
            </form>
        </div>


        <script src="Js/forgetPasswordIndex.js"></script>
    </body>
</html>
