<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs")%>
    <body>

        <div class="w-50 text-center mt-5 border border-info rounded-lg mx-auto p-3">
            <div id="mainNotification"></div>
            <div class="display-1 my-2 text-dark"><i class="fas fa-key"></i></div>
            <h3 class="display-5 text-secondary mb-5">Reset your password Here!</h3>

            <form>
                <div class="row">
                  <div class="col-8 offset-2 my-1">
                    <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password">
                    <div id="passwordNotification"></div>
                  </div>
                  <div class="col-8 offset-2 my-1">
                    <input type="password" class="form-control" id="cpassword" placeholder="Confirm Password" name="cpassword">
                    <div id="cpasswordNotification"></div>
                  </div>
                  <div class="col-8 offset-2 my-3">
                    <button type="button" class="btn btn-outline-secondary col-4" id="goBack">Go Back</button>
                    <button type="button" class="btn btn-outline-primary col-6 offset-1" id="resetPassword">Reset Password</button>
                </div>
                </div>
            </form>
        </div>

        <script src="Js/resetpasswordIndex.js"></script>
    </body>
</html>
