<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs")%>
    <body>

        <%- include('../partials/indexNav.ejs') %>

        <div class="container firstdiv text-center mb-3">
            <!-- <h1 class="pills display-4 col-6 offset-3">Fill Blog Data</h1> -->
            <form class="col-10 offset-1 border border-secondary rounded mt-3 p-3">
                <div class="form-row my-2 text-left">
                    <div class="col-3 offset-right-1">
                        <label for="title" class="font-weight-bold align-middle my-auto">Title:</label>
                    </div>
                    <div class="col-8">
                      <input type="text" class="form-control" id="title" placeholder="Enter blog title" name="title" >
                    </div>
                </div>
                <div class="form-row my-2 text-left">
                    <div class="col-3 offset-right-1">
                        <label for="tags" class="font-weight-bold align-middle my-auto">Blog Tag(multiple):</label>
                    </div>
                    <div class="col-8">
                        <select name="tags" id="tags" multiple class="col-12 form-control">
                            <option value="Agriculture">Agriculture</option>
                            <option value="Sports">Sports</option>
                            <option value="Technology">Technology</option>
                            <option value="Art">Art</option>
                            <option value="Home Science">Home Science</option>
                            <option value="Politics">Politics</option>
                            <option value="Photography">Photography</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                </div>
                <div class="form-row my-2 text-left">
                    <div class="col-3 offset-right-1">
                        <label for="blog" class="font-weight-bold align-middle my-auto">Blog:</label>
                    </div>
                    <div class="col-8">
                      <textarea name="blog" rows='10' placeholder="Write blog ....." class="p-2 rounded form-control w-100 h-100"></textarea>
                    </div>
                </div>
                <div class="form-row my-2 text-left">
                    <div class="col-3 offset-right-1">
                        <label for="post" id="publicPrivate" class="font-weight-bold align-middle my-auto">Public or Private:</label>
                    </div>
                    <div class="col-8 row">
                        <div class="col-4 offset-2">
                            <input type="radio" name="publicPrivate" value="public"> Public
                        </div>
                        <div class="col-4 offset-2">
                            <input type="radio" name="publicPrivate" value="private"> Private
                        </div>
                    </div>
                </div>
                <div class="form-row my-2 text-left">
                    <div class="col-3 offset-right-1">
                        <label for="blogImage" class="font-weight-bold align-middle my-auto">Blog Images:</label>
                    </div>
                    <div class="col-8">
                      <input type="file" name="blogImage" class="border border-secondary w-100 rounded" multiple>
                    </div>
                </div>
                <div class="row my-2 text-center">
                    <button type="submit" class="btn btn-primary col-4 offset-4">Create It</button>
                </div>
            </form>
        </div>

        <%- include('../partials/footer.ejs') %>


        <script src="/Js/contactUs.js"></script>
    </body>
</html>