<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs")%>
    <body>

        <%- include('../partials/nav.ejs') %>

        <% const data="Add blog" %>

        <div class="container my-2 firstdiv">
            <h1 class="display-4 text-center"><%= data %></h1>
            
        </div>

        <%- include('../partials/footer.ejs') %>


        <script src="/Js/contactUs.js"></script>
    </body>
</html>